* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: black;
    color: white;
    font-family: 'Caslon Antique', sans-serif;
}

header{
        flex-direction: row;
}

.gif{
    height: 200px;
    width: 200px;
}

header p{
    font-size: 16px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 0.3em 0.3em rgb(52, 50, 50);
    padding-bottom: 32px;
}

header h1 {
    font-size: 58px;
    padding-top:32px ;
    padding-bottom: 32px;
    text-align: center;
    text-shadow: 0.1em 0.1em rgb(52, 50, 50);
}

h2 {
    align-items: center;
    font-size: 48px;
    justify-content: center;
    text-align: center;
    padding-top: 32px; 
    padding-bottom: 16px;
    text-shadow: 0.1em 0.1em rgb(52, 50, 50);

}

.colossus {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.container h2 {
    font-size: 26px;
}

.colossus img {
    height: 300px;
    padding-right: 32px;
}

.container #dormin_fala {
    width: 300px;
    padding-top: 16px;
    padding-bottom: 24px;
    text-shadow: 0.1em 0.1em gray;
    
}

#caracteristicas-colossu {
    flex-direction: row;
    background-color: rgb(12, 12, 12);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
}

#descricao_colossu{
    width: 800px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    background-color: rgb(12, 12, 12);

}

.lista_colossus{
    padding-bottom: 20px;
    background-image: url(./imagens/d7vbd5o-0b271e00-f09b-4dd0-9db4-8fbbbc13ebf7.jpg);
    padding: 300px;
}

.lista_colossus li {
    display: inline;
    padding-left: 100px;
    font-family: 'Caslon Antique', sans-serif;
    font-size: 24px;
}

.lista_colossus li a {
    text-decoration: none;
    text-shadow: 0.1em 0.1em gray;
}

.lista_colossus li a:hover{
    text-decoration-line: underline;
    color: rgb(32, 32, 32);
}

.divisor img{
    width: 1280px;
    padding-left: 200px;
    opacity:30%;

}

#botaolista{
    padding-left: 650px;
    padding-bottom: 50px;
    font-size: 32px;
}

#logosony{
    margin-left: 800px;
    width: 200px;
}
